.block {
  width: 100%;
  padding: $baseUnit;
  margin: $baseUnit;
  @include clearfix;
}

.block.entities {
  display: flex;
  flex-wrap: wrap;
}

.block-red {
  // background: red;
}

.block-yellow {
  // background: yellow;
}

.block-aquamarine {
  // background: aquamarine;
}

.block-orange {
  // background: orange;
}

.block-grey {
  // background: grey;
}