.entity {
  border: 1px solid $black;
  margin: $halfUnit $halfUnit $halfUnit 0;
  padding: $halfUnit;
}

.entity, .entity p {
  @media (min-width: 800px){
    font-size: rem-calc(10); //16
    line-height: rem-calc(12); //20
  }
}

.entity p {
  margin: 0;
}