.entity {
  width: calc(((1/2) * 100%) - #{$baseUnit});
  border-bottom: $thirdUnit solid $black;

  margin: 0 $baseUnit $baseUnit 0;
  padding: $halfUnit;

  background: rgba($yellow, 1);

  @media (min-width: $breakpoint-md){
    width: calc(((1/4) * 100%) - #{$baseUnit});
  }
}

.entity, .entity p {
  @media (min-width: $breakpoint-md){
    font-size: rem-calc(10); //16
    line-height: rem-calc(12); //20
  }
}

.entity p {
  margin: 0;
}