.item {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	padding: $baseUnit 0;
	@include clearfix;
}

.item .column-left {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
	@media (min-width: 1024px) {
		width: 50%;
	}
}

.item .column-right {
	display: flex;
	align-items: stretch;
	float: left;
	width: 100%;
	@media (min-width: 1024px) {
		width: 50%;
	}
}