.item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 0 ($baseUnit * 10) 0;
	@include clearfix;
}

.item-header {
	min-height: calc(100vh - #{rem-calc(30)} - #{$halfUnit});
}

.item .column-left {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
	@media (min-width: 1024px) {
		width: 60%;
	}
}

.item .column-right {
	display: flex;
	align-items: stretch;
	float: left;
	width: 100%;
	@media (min-width: 1024px) {
		width: 30%;
	}
}