.reference-container {
  position: relative;
  text-align: right;
}

.reference-container h3 {
  margin: 0 $baseUnit $halfUnit 0;
}

.reference {
  position: relative;
  left: $baseUnit;
  padding-right: $baseUnit - ($thirdUnit / 2);
  
  border-right: $thirdUnit solid $black;
  // border-left: $thirdUnit solid $black;

  background: $yellow;
}

.reference p {
  padding: $thirdUnit 0;
  // margin-bottom: $thirdUnit;
}

.reference:hover {
  background: $yellow;
}