.reference-container {
  position: relative;
  text-align: right;
}

.reference-container h3 {
  margin: 0 $baseUnit $halfUnit 0;
}

.reference {
  position: relative;
  left: ($thirdUnit / 2);
  padding-right: $baseUnit - ($thirdUnit / 2);
  border-right: $thirdUnit solid black;
}

.reference-line {
  position: absolute;
  top: $halfUnit;
  right: -$baseUnit;

  width: calc(#{$baseUnit} - 1px);
  height: 100%;

  border-left: 2px solid lighten($black, 50%);
  border-top: 2px solid lighten($black, 50%);
  border-bottom: 2px solid lighten($black, 50%);

  z-index: -10;
}
