html {
  box-sizing: border-box;
  font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: 0;
}

h1, h2, h3, h4 ,h5, h6 {
  font-family: $titleFont;
  line-height: 1.25;
}

h1 {
  font-size: $gridUnit * 3.5;
}

h2 {
  font-size: $gridUnit * 3.25;
}

h3 {
  font-size: $gridUnit * 3; 
}

h4 {
  font-size: $gridUnit * 2.5; 
}
h5 {
  font-size: $gridUnit * 2; 
}

h6 {
  font-size: $gridUnit * 1.5; 
}

p, a, li, ul, ol {
  font-family: $baseFont;
  font-size: $gridUnit * 2; 
  line-height: 1.4;
}

ul {
  list-style: none;
}

ul, ol {
  list-style-position: inside;
}

a {
  color: $baseColor;
  text-decoration: none;
}