html {
  box-sizing: border-box;
  font-size: 20px;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: $baseFont;
  margin: 0;
  padding: 0;
  outline: 0;
}

h1, h2, h3, h4 ,h5, h6 {
  font-family: $titleFont;
}

a {
  color: $black;
  text-decoration: none;
}

ul {
  list-style: none;
}

p, a {
  // font-size: $gridUnit * 2 * 0.9375;
  font-size: $gridUnit * 2;
  line-height: $gridUnit * 3;
}