.hidden-sm {
  @media (max-width: $breakpoint-sm){
    display: none;
  }  
}

.show-sm {
  @media (min-width: $breakpoint-sm){
    display: none !important;
  }  
}

.hidden-md {
  @media (max-width: $breakpoint-md){
    display: none;
  } 
}

.brand-primary {
  background: $yellow;
}

.brand-secundary {
  background: $blue;
}

.brand-tertiary {
  background: $red;
}

.brand-base {
  background: $baseColor;
  color: $white;
}

.brand-baselight {
  background: $lightBaseColor;
}