.layout__body {
  display: flex;
  flex-direction: column;
}

.layout__main {
  display: flex;
  flex-direction: column;
  background: $lightgray;
}

.layout__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.layout__item--header {
  min-height: 100vh;
}

.layout__item-top {
  width: 100%;
}

.layout__grid-content{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;  
  width: 100%;
  padding: $gridUnit * 3;
  @media (min-width: $breakpoint-md){
    width: $gridUnit * 86;
  }
}

.layout__offgrid-content {
  // <<hack>>
  width: 1px;
  // <<hack>>
  flex-shrink: 1;
  flex-grow: 1;
  padding: $gridUnit * 3 0;
}

.layout__partners {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 0 $gridUnit * 3; 

}