@import 'functions.scss';
@import 'mixins';

$baseFont: NittiGrotesk;
$titleFont: NittiGroteskBold;
$buttonFont: NittiBold;
$buttonFontLight: NittiNormal;

$baseUnit: rem-calc(30);
$thirdUnit: rem-calc(10);
$halfUnit: rem-calc(15);
$twoThirdUnit: rem-calc(20);

$sidebarWidth: 14 * $baseUnit;
$cardWidth: 14 * $baseUnit;
$imageHeight: ($cardWidth / 12) * 7;

@import 'colors';
@import 'typography';
@import 'base';
@import 'mediaqueries';
@import 'layout';
@import 'pages';

@import 'partials/textbar';
@import 'partials/tags';
@import 'partials/buttons';

@import 'components/nav';
@import 'components/footer';
@import 'components/item';
@import 'components/block';
@import 'components/reference';
@import 'components/entity';
@import 'components/about';