@import 'global/functions.scss';
@import 'global/mixins';

$baseFont: NittiGrotesk;
$titleFont: NittiGroteskBold;
$buttonFont: NittiBold;
$buttonFontLight: NittiNormal;

$baseUnit: rem-calc(30);
$halfUnit: rem-calc(15);
$thirdUnit: rem-calc(10);
$twoThirdUnit: rem-calc(20);

$sidebarWidth: 14 * $baseUnit;
$cardWidth: 14 * $baseUnit;
$imageHeight: ($cardWidth / 12) * 7;

@import 'global/colors';
@import 'global/typography';
@import 'global/base';
@import 'global/mediaqueries';
@import 'global/layout';

@import 'navigation/nav';
@import 'navigation/footer';
@import 'story/item';
@import 'story/block';
@import 'story/reference';
@import 'pages/page';