<div class="<%= block.data.classes %>">
  <p style="color: pink;">this is a block</p>
  <div><%= block.body %></div>
  <div>
    <% for reference in block.data.references %>
      <%= partial "partials/reference" %>
    <% end %>
  </div>
</div>