<div class="<%= block.data.classes %>">
  <p style="color: pink;">this is a block</p>
  <div><%= block.body %></div>
  <div>
    <% if block.data.references %>
    <% for reference in block.data.references %>
      <%= partial(:"partials/reference", :locals => { :reference => reference })  %>
    <% end %>
    <% end %>
  </div>
</div>