    <footer class="footer">
      <div class="footer__description">
        <div class="footer__logo-container">
          <h1 class="textbar textbar--inverse">Coding_</h1><br>
          <h1 class="textbar textbar--inverse">the_</h1><br>
          <h1 class="textbar textbar--inverse">Humanities</h1>
        </div>
        <p>Coding the Humanities is a collective of teachers, students and researchers who build a set of teaching practices and tools that leverages existing knowledge and resources.</p>
        <h3>Contact: </h3>
        <p><a href="mailto:yeehaa@codingthehumanities.com">Email: Jan Hein Hoogstad</a></p>
      </div>
      <div class="footer__nav">
        <div class="footer__nav-btn-container">
          <a href="<%= config.http_prefix + 'projects.html#' %>" class="textbar textbar--inverse footer__textbar-projects">Projects</a>
          <a href="<%= config.http_prefix + 'publications.html#' %>" class="textbar textbar--inverse footer__textbar-publications">Publications</a>
          <a href="<%= config.http_prefix + '#' %>" class="textbar textbar--inverse footer__textbar-process">Process</a>
        </div>
      </div>
      <div class="footer__uva-container">
        <img class="footer__uva-logo" src="images/uva-logo.svg" alt="">
      </div>
    </footer>
  </body>
</html>