    <footer class="footer">

      <div class="footer-description">
        <div class="footer-logo-container">
          <h1 class="textbar textbar-inverse title">Coding_</h1><br>
          <h1 class="textbar textbar-inverse title">the_</h1><br>
          <h1 class="textbar textbar-inverse title">Humanities</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ad dignissimos distinctio quae autem nemo nesciunt sapiente vitae explicabo necessitatibus dolores aspernatur harum labore, quidem, ullam. Fugiat accusamus atque dolores.</p>
        <h3>Contact: </h3>
        <p><a href="mailto:yeehaa@codingthehumanities.com">Email: Jan Hein Hoogstad</a></p>
      </div>

      <div class="footer-nav">
        <div class="footer-nav-btn-container">
          <a href="<%= config.http_prefix + 'projects.html#' %>" class="title textbar textbar-inverse footer-textbar-projects">Projects</a>
          <a href="<%= config.http_prefix + 'publications.html#' %>" class="title textbar textbar-inverse footer-textbar-publications">Publications</a>
          <a href="<%= config.http_prefix + '#' %>" class="title textbar textbar-inverse footer-textbar-process">Process</a>
        </div>
      </div>

      <div class="footer-uva-container">
        <img class="footer-uva-logo" src="images/uva-logo.svg" alt="">
      </div>
      
    </footer>
  </body>
</html>