<div class="reference" onclick="" class="reference <%= reference.data.type %>">
  <h4 class="reference__title"><%= reference.data.title %></h4>
  <div onclick="" class="reference__description">
    <p class="reference__summery"><%= reference.data.summery %></p>
    <a class="btn" href="<%= config.http_prefix + reference.data.type + '.html#' + reference.slug %>">  >> </a>
  </div>
</div>
