<div class="reference-inner-container">
  <div class="reference">
    <a href="<%= config.http_prefix + reference.type + '.html#' + reference.slug %>">
      <p><%= reference.slug %></p>
    </a>
  </div>
</div> 