<div class="reference">
  <a href="<%= (defined? reference.type) ? reference.type : reference.data.type %>/<%= (defined? reference.slug) ? reference.slug : 'nooo' %>.html">
    <p><%= (defined? reference.data) ? reference.data.title : reference.slug %></p>
    <p><%= (defined? reference.data) ? reference.summary : "" %></p>
  </a>
</div> 