<div class="<%= block.data.classes %>">
  <h1 class="title"><%= block.title %></h1>
  <div><%= block.body %></div>
  <div>
    <% if block.data.references %>
    <% for reference in block.data.references %>
      <%= partial(:"partials/story-reference", :locals => { :reference => reference })  %>
    <% end %>
    <% end %>
  </div>
</div>