<div class="reference-inner-container">
  <div class="reference">
    <a href="<%= config.http_prefix + reference.data.type + '.html#' + reference.data.title %>">
      <p><%= reference.data.title %></p>
    </a>
  </div>
</div> 