<div class="entity">
  <a href="<%= entity.url || 'https://www.linkedin.com/vsearch/f?type=all&keywords=' + entity.name %>">
    <h3><%= entity.name %></h3>
    <p><%= entity.job %></p>
  </a>
</div> 