<div class="<%= block.data.classes %><% if block.data.block != 1 %> block-indent <% end %>">
  <% if block.data.block == 1 %>
  <h1 class="textbar title"><%= block.title %></h1>
  <% elsif %>
  <h4 class="title sub-title"><%= block.title %></h4>
  <% end %>
  <div><%= block.body %></div>
  <div>
    <% if block.data.references %>
    
    <% end %>
  </div>
</div>