<div class="entity">
  <a href="<%= entity.url || 'https://www.google.nl/#q=' + entity.name %>">
    <h3><%= entity.name %></h3>
    <p><%= entity.description %></p>
    <h4><%= entity.job %></h4>
  </a>
</div> 