// General block-lvl styling
.block {
  width: 100%;
  padding: $baseUnit;
  @include clearfix;
}

.block ul {
  list-style: square;
  list-style-position: inside;
  margin-bottom: $halfUnit;
}

// Specific block-lvl styling

.story .item-header .hammer-header {
  position: relative;
  width: 50%;
  left: 60%;
  transform: rotate(45deg);
  padding: $baseUnit 0;
  @media (min-width: $breakpoint-lg) {
    width: 65%;
    left: 50%;
  }
}

.story .item-video .block-video {
  @include aspect-ratio(16, 9);
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $baseUnit * 1;
  @media (min-width: $breakpoint-md) {
    margin: $baseUnit * 3;
  }
}

.story .item-video .block-video .playbutton {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
}

.story .item-body-image, .item-partners-image {
  width: 100%;
  heigth: auto;
  background: $yellow;
  padding: $baseUnit;
  @media (min-width: $breakpoint-lg) {
    padding: $baseUnit*3;
  }
}

.story .item-partners .block {
  padding: $baseUnit 0 0 $baseUnit;
}

.story .block.entities {
  display: flex;
  flex-wrap: wrap;
}

.story .item-about .hammer-about {
  position: relative;
  top: 2px;
  left: 50%;
  width: 50%;
  padding: $baseUnit*5 0 0 0;
  @media (min-width: $breakpoint-lg) {
    width: 65%;
    left: 35%;
  }
}

.projects .item-header-nav, .publications .item-header-nav {
  list-style: square;
  list-style-position: inside;
}

.projects a:hover,
.publications a:hover {
  text-decoration: underline;
}

.projects .links-btn-container, .publications .links-btn-container {
  display: flex;
}

.btn-student-project-container {
  width: auto;
  height: auto;
  margin: 0 $baseUnit 0 0;
  padding: 0;
  flex-grow: 1;
  flex-direction: column;
}

.btn-student-project {
  width: 100%;
}

.btn-student-project-container ul {
  padding: 0 rem-calc(20);
  list-style-position: inside;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 1s linear;
}

.btn-student-project-container:hover ul {
  max-height: $baseUnit * 5;
  transition: all 1s linear 0.5s;

}

.btn-site, .btn-back {
  width: auto;
  flex-shrink: 1;
  margin: 0 $baseUnit 0 0;
}