.flower {
  position: absolute;
  bottom: 0;
  width: 10%;
  transform: scaleX(-1);
}

.hammer {
  width: 100%;
  padding: 0% 0 0 75%;

  background: $yellow;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
	height: $baseUnit * 10;
}