.hammer {
  width: 100%;
  background: $yellow;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  background: black;
	min-height: $baseUnit * 10;
  padding: $baseUnit;
  color: $lightgray;
}

.footer a {
  color: $lightgray;
}

.footer-description {
  width: 100%;
  @media (min-width: $breakpoint-lg) {
    width: 50%;
  }
}

.footer-description .footer-logo-container {
  margin-bottom: $baseUnit;
}


.footer-nav {
  padding: $baseUnit *2 0;
  width: 100%;
  @media (min-width: $breakpoint-lg) {
    padding: 0;
    width: 50%;
  }
}

.footer-nav-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: $breakpoint-lg) {
    align-items: flex-end;
  }
}

.footer-textbar-projects:hover {
  color: $red;
}

.footer-textbar-publications:hover {
  color: $blue;
}

.footer-textbar-proces:hover {
  color: $yellow;
}

.footer-nav-list {
  list-style: square;
  list-style-position: inside;
  @media (min-width: $breakpoint-lg) {
    direction: rtl;
    text-align: right;
  }
}

.footer-uva-container {
  width: 100%;
  padding: $baseUnit 0;
}

.footer-uva-logo {
  display: block;
  width: 100%;
  @media (min-width: $breakpoint-lg) {
    width: 30%;
  }
}

