.item {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	@include clearfix;
}

.item-header {
	align-items: stretch;
	min-height: calc(100vh - #{rem-calc(30)} - #{$halfUnit});
	background: $yellow;
}

.item-video {
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}

.item-body {
	margin: 0 0 $baseUnit * 5 0;
}

.item .column-left {
	display: flex;
	flex-wrap: wrap;
	align-self: flex-start;
	width: 100%;
	@media (min-width: $breakpoint-lg) {
		width: 60%;
	}
}

.item .column-right {
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	@media (min-width: $breakpoint-lg) {
		width: 40%;
	}
}

.item.item-about {
	background: $yellow;
	overflow: hidden;
}

.item.item-post {
	align-items: flex-start;
}