.nav-story {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: $halfUnit $baseUnit;
}

.nav-story li {
  flex-shrink: 0;
  margin: 0 $thirdUnit 0 0;
  @media (max-width: 800px){
    display: none;
  }
}

.nav-story li:first-child {
  flex-shrink: 1;
  @media (max-width: 800px){
    display: block;
  }
}

.nav-story a {
  color: $black;
  opacity: 0.1;
}


.nav-story a.is-link-active {
  color: $black;
  opacity: 1;

  // font-size: 2em;
}
