.nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: $halfUnit $baseUnit;
}

.nav-top li {
  flex-shrink: 0;
  margin: 0 $thirdUnit 0 0;
  @media (max-width: 800px){
    display: none;
  }
}

.nav-top li:first-child {
  flex-shrink: 1;
  @media (max-width: 800px){
    display: block;
  }
}

.nav-link.textbar {
  color: white;
  margin-bottom: 0;
}
