.nav-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100%;
  overflow: hidden;
  padding: $halfUnit $baseUnit;
  background: $yellow;
  border-top: $thirdUnit dashed black;
}

.main .nav-main {
  border-top: $thirdUnit dashed black;
  background: $yellow;
}

.nav-main li {
  flex-shrink: 0;
  margin: 0 $thirdUnit 0 0;
}

.nav-main .hide-responsive {
  @media (max-width: $breakpoint-md){
    display: none;
  }
}

.nav-main li:first-child {
  flex-shrink: 1;
  @media (max-width: $breakpoint-md){
    display: block;
  }
}

.nav-main .cth-icon {
  height: $baseUnit;
}

.nav-main a {
  color: $black;
  opacity: 0.1;
}

.nav-main a:hover {
  opacity: 1;
}

.nav-main a.is-link-active {
  color: $black;
  opacity: 1;
}
