.image-publications {
  padding: $baseUnit $baseUnit * 3;
  width: 100%;
  height: 100%;
}

.item-post {
  padding-bottom: $baseUnit *5;
}

.projects .item-header-nav, .publications .item-header-nav {
  list-style: square;
  list-style-position: inside;
}

.projects a:hover,
.publications a:hover {
  text-decoration: underline;
}

.publications-author {
  margin-bottom: $baseUnit;
}

.links-btn-container {
  display: flex;
}

.btn-student-project-container {
  min-width: $baseUnit * 5;
  margin: 0 $baseUnit 0 0;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: $thirdUnit;
}

.btn-student-project {
  width: 100%;
}

.btn-student-project-container ul {
  margin: 0;
  max-height: 0;
  text-align: left;
  overflow: hidden;
  transition: all 1s linear;
  @media (min-width: $breakpoint-md) {
    text-align: center;
  }
}

.btn-student-project-container:hover ul {
  max-height: $baseUnit * 8;
  transition: all 1s linear 0.5s;

}

.btn-site, .btn-back {
  width: auto;
  flex-shrink: 1;
  margin: 0 $baseUnit $thirdUnit 0;
}


// Test for grid
.test-box {
  background: blue;
  display: inline-block; 
  width: rem-calc(60);
  height: auto;
  font-size: rem-calc(30);
  line-height: 1;
  padding: 0;
}
