.reference-container {
  position: relative;
  text-align: right;
}

.reference-container h3 {
  margin: 0 0 $halfUnit 0;
}

.reference-inner-container {
  position: relative;
  width: 100%;
  @media (max-width: $breakpoint-lg) {
    left: 30%;
    width: 70%;
  }
}

.reference {
  position: relative;
  left: $baseUnit;
  padding: $thirdUnit $baseUnit - ($thirdUnit / 2) $thirdUnit $thirdUnit;
  border-right: $thirdUnit solid $black;
  background: $yellow;
  margin: 0 0 $halfUnit 0;
  transition: all 0.5s linear;
}

.reference h4 {
  display: inline-block;
}

.reference p {
  margin: 0;
}

.reference.projects:hover, .reference.projects:focus {
  background: $red;
}

.reference.publications:hover, .reference.publications:focus {
  background: $blue;
}

.reference .reference-description {
  overflow: hidden;
  height: auto;
  max-height: 0;
  transition: all 0.5s linear;
}

.reference:hover .reference-description, .reference:focus .reference-description {
  max-height: $baseUnit * 6;
  transition: all 0.5s linear 0.5s;
}