.page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
	border-bottom: black solid 20px;
	background-size: cover;
	background-position: center center;
}

.item-info-header {
	display: inline-block;
	letter-spacing: 2px;
	padding: 10px;
	background: black;
	color: white;
}
