.item {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
	min-height: 80%;
	padding: 15px;
	@include clearfix;
}

.item.item-header .visualisation {
	height: 400px;
}

.item .column-left {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	width: 100%;
	@media (min-width: 750px) {
		width: 70%;
	}
}

.item .column-right {
	display: flex;
	align-items: stretch;
	float: left;
	width: 100%;
	@media (min-width: 750px) {
		width: 30%;
	}
}