---
title: Coding the Humanities
layout: main
type: projects
---
<% blog('projects').articles.each do |post| %>
<%= partial("partials/navigation", :locals => { :which_is_link_active => post.data.item }) %>
<img class="" src="" alt="">
<div class="item item-body">
  <div class="column-left">
    <div class="block">
      <h1><%= post.title %></h1>
      <h3><%= post.data.authors %></h3>
      <p><%= post.body %></p>
    </div>
  </div>
</div>
<% end %>