---
title: Coding the Humanities
layout: main
type: publications
---
<% blog('publications').articles.each do |block| %>
<%= partial("partials/navigation", :locals => { :which_is_link_active => 0 }) %>
<img class="" src="" alt="">
<div class="item-body">
  <h1>Hello</h1>
</div>
<% end %>