---
title: Coding the Humanities
layout: main
type: publications
---
<% blog('publications').articles.each do |block| %>
<img class="item-body-image" src="" alt="">
<div class="item-body">
  <h1>Hello</h1>
</div>
<% end %>