.btn {
  display: inline-block;
  padding: 0 $gridUnit * 2;

  background: $baseColor;
  
  font-family: $buttonFont;
  font-size: $gridUnit * 2;
  line-height: $gridUnit * 3;
  color: $inverseColor;
}

.btn:hover {
  color: $baseColor;
  background: $inverseColor;
}

.btn--small {
  font-size: $gridUnit * 1;
  line-height: $gridUnit * 3;
}

.btn--top-margin {
  margin-top: $gridUnit * 2;
}

.btn--nav {
  font-size: $gridUnit * 1;
  line-height: $gridUnit * 3;
  @media (min-width: $breakpoint-md){
    padding: 0 $gridUnit * 3;
  }
}

.btn--margin {
  margin: 0 $gridUnit * 1 $gridUnit * 1 0;
}

.btn--is-active {
  background: $inverseColor;
  color: $baseColor;
}