.hammer {
  overflow: hidden;
  width: 100%;
}

.hammer__image {
  position: relative;
  left: 60%;
  width: 100%;
  max-width: 25vw;

  @media (min-width: $breakpoint-lg){
    left: 70%;
  }
}

.hammer__image--header {
  transform: rotate(45deg);
}

.hammer__image--about {
  
}