.hammer {
  overflow: hidden;
  width: 100%;
  align-self: flex-start;
}

.hammer__image {
  display: block;
  width: 80%;
  margin: 0 0 0 auto;
}

.hammer__image--header {
  position: relative;
  left: 20%;
  transform: rotate(45deg);
}

.hammer__image--about {
  
}