.image {
  
}

.image--fullwidth {
  width: 100%;
  // should be on the nav and layout unit
  padding: $gridUnit * 9 0 0 0;  
  // should be on the nav and layout unit
}

.image--halfwidth {
  width: 50%;
  margin: 0 auto;
}

.image--padding {
  // should be on the nav and layout unit
  padding: $gridUnit * 9 $gridUnit * 3 $gridUnit * 9 $gridUnit * 3;  
  @media (min-width: $breakpoint-sm){
    padding: $gridUnit * 9;
  }
}


