.image--background-2 {
  background: url('../images/item-body-2.svg') $yellow;
  background-size: cover;
  background-position: right;
}

.image--background-3 {
  background: url('../images/item-body-3.svg') $yellow;
  background-size: cover;
  background-position: right;
}

.image--background-4 {
  background: url('../images/item-body-4.svg') $yellow;
  background-size: cover;
  background-position: right;
}