.image {
  
}

.image--fullwidth {
  width: 100%;
}

.image--halfwidth {
  width: 50%;
  margin: 0 auto;
}

.image--padding {
  padding: $gridUnit * 9 $gridUnit * 3;  
  @media (min-width: $breakpoint-sm){
    padding: $gridUnit * 9;
  }
}

.image--margin-top {
  margin: $gridUnit * 3 0 0 0;
}