.image-background-2 {
  background: url('../images/item-body-2.svg') $yellow;
  background-size: 200%;
  background-position: top right;
  background-repeat: no-repeat;
  @media (min-width: $breakpoint-sm){
    background-size: 130%;
  }
}

.image-background-3 {
  background: url('../images/item-body-3.svg') $yellow;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;

}

.image-background-4 {
  background: url('../images/item-body-4.svg') $yellow;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}