.masonry {
  width: 100%;
  padding: $gridUnit * 9 $gridUnit * 3;
  -webkit-columns: 2;
  -webkit-column-gap: $gridUnit * 3;
  -webkit-filter: grayscale(100%) url(#yellow-filter);
  @media (min-width: $breakpoint-sm){
    -webkit-columns: 4;
  }
}

.masonry__image-container {
  display: inline-block;
  border: $gridUnit solid $baseColor;
  margin: 0 0 $gridUnit * 3 0;
  background: $black;
}

.masonry__image {
  width: 100%;
  height: auto;
  -webkit-filter:  brightness(160%) blur(2px) contrast(2000%) ;
}

.masonry:active, .masonry:active .masonry__image {
  -webkit-filter: none;
}