.masonry {
  width: 100%;
  padding: $gridUnit * 9 $gridUnit * 3;

  -webkit-columns: 2;
  -moz-columns: 2;
  -ms-columns: 2;
  -o-columns: 2;
  columns: 2;

  -webkit-column-gap: $gridUnit * 3;
  -moz-column-gap: $gridUnit * 3;
  -ms-column-gap: $gridUnit * 3;
  -o-column-gap: $gridUnit * 3;
  column-gap: $gridUnit * 3;

  @media (min-width: $breakpoint-sm){
    -webkit-columns: 4;
    -moz-columns: 4;
    -ms-columns: 4;
    -o-columns: 4;
    columns: 4;
  }
  @media (min-width: $breakpoint-xl){
    -webkit-columns: 5;
    -moz-columns: 5;
    -ms-columns: 5;
    -o-columns: 5;
    columns: 5;
  }
}

.masonry__image {
  width: 100%;
  max-width: 50vw;
  height: auto;
  margin: 0 0 $gridUnit * 3 0;
  
  border: $gridUnit/2 solid $baseColor;
}