.nav {
  width: 100%;
  padding: $gridUnit * 3 $gridUnit * 3 0 $gridUnit * 3;
}

.nav__link {
  display: inline-block;
  padding: 0 $gridUnit * 1;
  margin: 0 $gridUnit * 2 $gridUnit * 1 0;
  
  background: $baseColor;
  
  font-family: $buttonFont;
  font-size: $gridUnit * 1;
  line-height: $gridUnit * 3;
  color: $inverseColor;

  @media (min-width: $breakpoint-md){
    padding: 0 $gridUnit * 3;
  }
}

.nav__link--is-active {
  background: $inverseColor;
  color: $baseColor;
}