.partner {
  width: calc((1/2 * 100%) - (#{$gridUnit} * 3));
  border-bottom: $gridUnit solid $black;

  margin: 0 $gridUnit * 3 $gridUnit * 3 0;
  padding: $gridUnit * 1;

  @media (min-width: $breakpoint-sm){
    width: calc((1/2 * 100%) - (#{$gridUnit} * 3));
  }
  @media (min-width: $breakpoint-md){
    width: calc((1/3 * 100%) - (#{$gridUnit} * 3));
  }
  @media (min-width: $breakpoint-xl){
    width: calc((1/4 * 100%) - (#{$gridUnit} * 3));
  }
  @media (min-width: $breakpoint-xxl){
    width: calc((1/5 * 100%) - (#{$gridUnit} * 3));
  }
}

.partner__name {
  font-family: $titleFont;
  font-size: $gridUnit * 1.5;
  line-height: $gridUnit * 2;
}

.partner__job {
  font-family: $baseFont;
  font-size: $gridUnit * 1.5;
  line-height: $gridUnit * 2;
}