.reference {
  padding: 0 0 $gridUnit * 2 0;
}

.reference__content {
  padding: $gridUnit * 1 $gridUnit * 2 $gridUnit * 1 $gridUnit * 3;
  background: $yellow;
  border-right: $gridUnit solid $black;
}

.reference__description {
  max-height: 0;
  height: auto;

  overflow: hidden;
  transition: max-height 0.5s linear;
}

.reference__content:hover > .reference__description,
.reference__content:active > .reference__description {
  max-height: $gridUnit * 18;
  transition: max-height 0.5s linear 0.5s;
}