.references-title {
  padding: $gridUnit * 1 $gridUnit * 3 $gridUnit * 1 0;
}

.reference {
  width: 100%;
  max-width: $gridUnit * 32;
  margin: 0 0 $gridUnit * 1 0;
  padding: $gridUnit * 1 $gridUnit * 5/2 $gridUnit * 1 $gridUnit * 3;
  
  border-right: $gridUnit/2 solid $black;
  
  text-align: right;
}

div:last-of-type.reference {
  margin: 0;
}

.reference__description {
  max-height: 0;
  height: auto;

  overflow: hidden;
  transition: max-height 0.5s linear;
}

.reference:hover > .reference__description,
.reference:active > .reference__description {
  max-height: $gridUnit * 22;
  transition: max-height 0.5s linear 0.5s;
}

.reference__summery {
  font-size: $gridUnit * 2;
  line-height: $gridUnit * 2.5;
}