.reference {
  padding: 0 0 $gridUnit * 2 0;
}

.reference__content {
  display: inlin: ;e-block;
  padding: $gridUnit * 2 $gridUnit * 2 $gridUnit * 2 $gridUnit * 3;
  background: $yellow;
  border-right: $gridUnit solid $black;
}

.reference__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  max-height: 0;
  height: auto;

  overflow: hidden;
  transition: max-height 0.5s linear;
}

.reference__content:hover > .reference__description,
.reference__content:active > .reference__description {
  max-height: $gridUnit * 18;
  transition: max-height 0.5s linear 0.5s;
}

.reference__summery {
  max-width: $gridUnit * 30;
}

// .reference-btn {
//   width: $baseUnit * 3;
//   margin: 0 0 0 auto;
// }

// .reference.projects .reference-btn:hover {
//   color: $red;
// }

// .reference.publications .reference-btn:hover {
//   color: $blue;
// }