.textbar {
  display: inline-block;
  padding: 0 $gridUnit * 2 0 $gridUnit * 1.5;
  margin-bottom: $gridUnit;

  background-color: $baseColor;

  color: $inverseColor;
  font-family: $buttonFont;
  // <need balancing>
  font-size: rem-calc(22);
  line-height: rem-calc(30);
  // </needs balancing>
}

.textbar--inverse {
  background-color: $lightBaseColor;
  color: $baseColor;
}

.textbar--big {
  font-size: rem-calc(75*0.5);
  line-height: rem-calc(80*0.5);
  @media (min-width: $breakpoint-sm){
    font-size: rem-calc(75);
    line-height: rem-calc(80);
  }
}

.textbar--fullwidth {
  width: 100%;
  margin: 0 0 $gridUnit * 3 0;
  padding: $gridUnit * 3;
  
  font-size: $gridUnit * 3;
  line-height: $gridUnit * 4;
}