// element-selectors used because unknown HTML

.textbox {
  padding: 0 $gridUnit * 3;
}

.textbox--padding-bottom {
  padding: 0 $gridUnit * 3 $gridUnit * 3 $gridUnit * 3;
}

.textbox > p, .textbox > a, .textbox > ul > li {
  font-size: $gridUnit * 2;
  line-height: $gridUnit * 3;
}

.textbox--accent > p:first-child{
  margin: 0 0 $gridUnit * 6 0;
  font-family: $titleFont;
}

.textbox > p:last-child{
  margin: 0;
}


.textbox > h2:last-of-type {
  padding-top: $gridUnit * 6;
}

.textbox > p {
  padding-bottom: $gridUnit * 1;
}

.textbox > ul {
  padding-bottom: $gridUnit * 1;

  list-style: square;
  list-style-position: inside;
}

.textbox--align-right {
  text-align: right;
}

.textbox__link {
  color: white;
}