// element-selectors used because unknown HTML

.textbox {
  padding: 0 $gridUnit * 3;
}

.paddingbox {
  padding: 0 $gridUnit * 3;
}

.textbox--padding-bottom {
  padding: 0 $gridUnit * 3 $gridUnit * 12 $gridUnit * 3;
}

.textbox--with-emph-links a {
  display: inline-block;
  padding: 0 $gridUnit;

  background: $baseColor;
  color: $inverseColor;
}

// < these classes break styling >
.textbox--accent > p:first-of-type{
  font-family: $titleFont;
  padding-bottom: $gridUnit * 3;
}

.textbox > p {
  padding-bottom: $gridUnit * 1;
}

.textbox > h1,
.textbox > h2, 
.textbox > h3, 
.textbox > h4, 
.textbox > h5, 
.textbox > h6 {
  padding-top: $gridUnit * 3;
}

.textbox > ul {
  padding-bottom: $gridUnit * 1;
  list-style: square;
  list-style-position: inside;
}

.textbox__inverse-link {
  color: white;
}

