// element-selectors used because unknown HTML

.textbox {
  padding: 0 $gridUnit * 3;
}

.textbox > p:first-child{
  margin: 0 0 $gridUnit * 6 0;

  font-family: $titleFont;
  font-size: $gridUnit * 2.5;
  line-height: $gridUnit * 3.5;
}

.textbox > p:last-child{
  margin: 0;
}


.textbox > h2:last-of-type {
  padding-top: $gridUnit * 6;
}

.textbox > p {
  padding-bottom: $gridUnit * 1;
}

.textbox ul {
  padding-bottom: $gridUnit * 1;

  list-style: square;
  list-style-position: inside;
}