.video {
  @include aspect-ratio(16, 9);
  width: 100%;
  max-height: 80vh;
  margin: $gridUnit*9 $gridUnit*3 $gridUnit*9 $gridUnit*3;

  background: black;
}

.video__play-button {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;
  height: 20%;
}